<%= stylesheet_link_tag "index" %>
  <div class="top-title">
    <h1>DevCamp Students</h1>
    <div class="list">
      <%= link_to "List View", list_path, :class => "btn btn-info" %>
    </div>
  </div>


<% @student.each do |s| %>
<div class="content">
  <div class="card">
    <div class="firstinfo"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/mrvanz/128.jpg"/>
      <div class="profileinfo">
        <h1><%= s.first_name %></h1>
        <h3><%= s.languages%></h3>
        <p class="bio"><%= s.tagline %></p>
      </div>
      <div class="profile-link">
        <%= link_to "Profile", show_path(@student), :class => "btn-profile" %>
      </div>
    </div>
   </div>
  <div class="badgescard"> <span class="profile info"><%= s.email %></span></div>
</div>
<% end %>

<div class="paginate">

<%= paginate @student %>

</div>







  







